#title{
  display: block;
  max-width:161px;
  max-height:65px;
  width: auto;
  height: auto;
  position: absolute;
  top: 20%;
  left: 40%;
  margin-left: 10px;
  margin-top: 10px;
}


#slogan{
    text-align: center;
    font-family: "Times New Roman";
    margin-top: 200px;
    
}

.wrapper{
    text-align: center;
}


.button {
    position: absolute;
    top: 50%;
    
}

.header{
    	margin-bottom: 40px; 
        height: 20px;
        padding-left: 0px;
    }

#logo{
    float: left;
    margin-right: 20px;
    border-radius: 8px; 
}

/* FOOTER */
footer { 
    background:#394149; border-top:15px solid #31373e; padding:10px 0; color:#fff; width:100%; position:absolute; bottom:0; left:0; 
}

footer .logo-nav {
    width:100%; text-align:center;
}

.logo{
    font-family: "Lucida Handwriting";
    font-size: 19px;
    margin-left: 30px;
    color: ghostwhite;
}

.jumbotron {
    height: 200px;
}

footer .logo-nav .logo {
    float:left; display:none;
}

footer .logo-nav .footer-nav {
    margin-top:3px; display:inline-block;
}

.text{
    margin-right: 15px;
}

footer .logo-nav .footer-nav li{
    float:left; color:#fff; font-size:13px; font-weight:bold; border-right:1px solid #31373e; 
}

footer .logo-nav .footer-nav li a { 
    display:block; padding:3px 15px;
}

footer .logo-nav .footer-nav li a:hover { 
    text-decoration:underline; 
}

footer .social-text {
    float:right; width:100%; padding:0 10px; 
}

footer .social-text .social { 
    float:none; margin-top:2px; text-align:center;
}

footer .social-text .social img {
    margin:0 2px;
}

footer .social-text .text{ 
    float:none; font-size:14px; margin-top:5px; text-align:center;
}
	
@media (min-width: 400px) {
	footer .social-text .social { float:left; }
	footer .social-text .text { float:right; }
}

@media (min-width: 768px) {
    footer .logo-nav { width:52%; float:left; }
    footer .logo-nav .logo { display:block; }
    footer .logo-nav .footer-nav { float:right; }
	footer .social-text { width:47%; padding:0;  }
}
